@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap');

:root{
  --text-color: #FEF9EC;
  --bg-color: #342D3D;
  --accent-color: #98E9E9;
  --card: #483E55;
  --card-active: #537979;
  --danger: #F25A85;
  --container-width: 80vw;
  --card-width: 55vw;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color);
}

.deck-area{
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: 84vh;
  width: var(--container-width);
  margin-top: 1.7em;
}

.card-container::-webkit-scrollbar {
  width: 0.15em;
  background-color: var(--card);
  border-radius: 4px;
}
 
.card-container::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 4px;
}

.card{
  margin-bottom: 1em;
  border-radius: 1em;
  background-color: var(--card);
  width: var(--card-width);
  height: auto;
  padding: 2em;
}

.pressable{
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.pressable:active {
  background-color: var(--card-active);
  transition: all 100ms;
}

.card-title{
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 800;
}

.card-streak-container{
  display: flex;
  justify-content: flex-end;
}

.app-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: 800;
  width: var(--container-width);
  margin: 1em 0em;
}

.add-button{
  padding: 0.05em 0.8em;
  border-radius: 0.5em;
  font-size: 1.3rem;
  background-color: var(--card);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.add-button:active{
  background-color: var(--card-active);
  transition: all 100ms;
}

.adjust-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0em;
}

.card-streak{
  color: var(--accent-color);
  padding-top: 1.25em;
  font-size: 1.5rem;
  font-weight: 800;
}

.adjust-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0em solid transparent;
  border-radius: 1em;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.adjust-button:active{
  background-color: var(--card-active);
  transition: all 100ms ease-in-out;
}

.edit-title{
  background: transparent;
  outline: none;
  resize: none;
  overflow: auto;
  border: none;
  width: 100%;
  height: auto;
  border-bottom: 0.2em solid var(--accent-color);
}

.delete-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4em;
}

.delete-text{
  color: var(--danger);
  padding-left: 0.5em;
  font-size: 0.8rem;
  font-weight: 800;
}

.title-container{
  margin-bottom: 1.2em;
}

.tick{
  margin-left: auto;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}