@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap');

:root{
  --text-color: #FEF9EC;
  --bg-color: #342D3D;
  --accent-color: #98E9E9;
  --card: #483E55;
  --card-active: #537979;
  --scrollbar-thumb: #483E55;
  --scrollbar: #2e2736;

}

body{
  font-family: 'Montserrat', sans-serif;
  color:  var(--text-color);
  background-color: var(--bg-color);
}

.deck-area{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
  height: 80vh;
  width: 75vw;
  overflow-y: auto;
}

.card-container::-webkit-scrollbar {
  width: 0.25em;
  background-color: var(--scrollbar);
  border-radius: 4px;
}
 
.card-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 4px;
}

.card{
  margin-bottom: 1em;
  border-radius: 1em;
  background-color: var(--card);
  width: 55vw;
  height: auto;
  padding: 2em;
  box-shadow:
    0 2.2px 2.5px rgba(52, 45, 61, 0.005),
    0 2.9px 5.6px rgba(52, 45, 61, 0.009),
    0 3.2px 9.3px rgba(52, 45, 61, 0.012),
    0 3.4px 14.1px rgba(52, 45, 61, 0.014)
  ;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.card:active {
  background-color: var(--card-active);
  transition: all 100ms;
}

.card-title{
  font-size: 1rem;
  margin-bottom: 0.5em;
  font-weight: 800;
}

.card-streak-container{
  display: flex;
  justify-content: flex-end;
  color: var(--accent-color);
  padding-top: 1.25em;
  font-size: 1rem;
  font-weight: 800;
}

.app-bar{
  display: flex;
  flex-direction: row;
  width: 80vw;
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: 800;
  padding: 1em;
  /* padding-top: 1.25em; */
}

.add-button{
  margin-left: auto;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}